@import url('https://fonts.googleapis.com/css2?family=Merriweather');
@import url('https://fonts.googleapis.com/css2?family=Cardo');
@import url('https://fonts.googleapis.com/css2?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Lora');

body {
  font-family: 'Lora', serif;
  font-size: 1.5em;
  background-color: #222222;
  color: #F3EFE0;
  text-align: center;
}

.main{
  text-align: left;
}

p{
  max-width: 30em;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  line-height: 1.5em;
}

h2{
  display: block;
  max-width: 20em;
  margin: auto;
  margin-top: 1em;
  color:#66FFFF;
  font-family: 'Merriweather', Serif;
}

a, a:visited{
  text-decoration: none;
  color: #FF00FF ;
}

.intro, .author{
  font-family: 'Cardo', serif;
  font-style: italic;
  font-size: 1.25em;
}

.header{
  text-align: center;
  padding:2em;
  background-image: url("../img/headerbg.png");
  background-position: top center;
}

.header h1{
  text-transform: uppercase;
  font-size: 2em;
  margin-top:0;
  margin-bottom:0;
}

.header a, header a:visited{
  color:#66FFFF;
}

.subtitle{
  font-family: 'Merriweather', Serif;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  max-width: 30em;
  background-color: #F3EFE0;
  padding: 15px
}

.credits .center {
  background-color: #222222;
}

figcaption{
  font-family: 'Cardo', serif;
  font-size: 0.75em;
  display: block;
  max-width: 40em;
  margin: auto;
  margin-bottom: 2em;
  color:#66FFFF;
}

.even{
  padding-top: 20px;
  padding-bottom: 20px;
}

.odd{
  background-color: #434242;
  padding-top: 20px;
  padding-bottom: 20px;
}

.disclaimer{
  background-color: #F3EFE0;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Cardo';
  font-style: italic;
}

.disclaimer p, .disclaimer h2{
  color: #222222;
}

.credits {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
